# ====== General ======
.DS_Store
*.log
*.local
.env
.env.*


# ====== Node Modules ======
**/node_modules/

# ====== Builds ======
**/dist/
**/build/

# ====== Vite Cache ======
**/.cache/

# ====== IDE Files ======
.vscode/
.idea/

# ====== Backend Specific ======
/backend/uploads/
/backend/config.json  
/backend/*.env

# ====== Frontend Specific ======
/frontend/**/*.env
/frontend/.env*
/frontend/.next/        
